/* 广告位样式 */
.GGJHBMRCDG .GGJHBMRCGG {
    display: block;
    position: absolute;
    top: 0;
    width: 128px;
    height: 128px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -transition: all 0.5s ease-in-out;
}

.GGJHBMRCDG .GGJHBMRCGG a {
    display: block;
    width: 128px;
    height: 128px;
}

.GGJHBMRCDG .GGJHBMRCGG img {
    border: 0;
    margin: 0;
    padding: 0;
    width: 128px;
    height: 128px;
    float: left;
    vertical-align: bottom;
}